/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    transition: all 250ms ease-in-out;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
/* end css reset */


/* custom animation */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blurUnBlur {
    0% {
        filter: blur(0);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}

@keyframes squeeze {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    50% {
        transform: scale(0.9);
        transform: rotate(10deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

/* end custom animation */

/* notifcation */

.notification {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight 250ms;
    padding: 1rem;
    border-radius: 5px;
    font-size: 2rem;
    color: #fff;

}

.notification.close {
    animation: slideInFromRight 250ms reverse;
}

.notification.error {
    background-color: #ff0000;
}

.notification.success {
    background-color: #00ff00;
}

.notification.info {
    background-color: #0000ff;
}

/* end notifcation */

body {
    /* set poppins as the default font */
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #1e1e20;
}

.flex-container {
    display: flex;
    gap: 3rem;
}

.hide {
    animation: slideInFromRight 250ms reverse;
}

#back-to-top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 12px;
    right: 12px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight 250ms;
    padding: 1rem;
    border-radius: 5px;
    font-size: 2rem;
    background-color: #fff;
    cursor: pointer;
}

#back-to-top.hide {
    animation: slideInFromRight 250ms reverse;
}

#back-to-top:hover {
    transform: translateY(-5px);
}

#back-to-top:hover img {
    transform: translateY(-5px);
}

#head {
    min-height: 80vh;
    background: rgb(255,255,255);
    background: linear-gradient(117deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 35%);
    padding: 0 4rem;
    border-radius: 0 0 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    padding: 0 4rem;
}

header {
    border-bottom: 1px solid rgb(193, 193, 193);
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: #2a2a2c;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.3rem;
}

nav {
    display: flex;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li {
    user-select: none;
    cursor: pointer;
}

#logo {    
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.lin-grad {
    background-color: rgb(255,255,255);;
  
  /* Create the gradient. */
  background-image: linear-gradient(90deg, rgba(85,85,88,1) 0%, rgba(42,42,44,1) 50%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn {
    padding: .75rem 1.25rem;
    border-radius: 100px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn-black {    
    color: #fff;
    background-color: #2a2a2c;
    border: 1px solid #2a2a2c;
}

.btn-light {  
    color: #2a2a2c;  
    background-color: rgba(221,221,221,1);
    border: 1px solid rgba(221,221,221,1);
}

.btn svg {
    margin-left: 0.2rem;
    height: 1.2rem;
    width: auto;
    stroke: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(1.5px);
}

.btn:hover svg {
    transform: translate3d(0.2rem, -.1rem, 0);
}

.btn-light svg {
    stroke: #2a2a2c;
}

.btn-black:hover {
    background-color: rgba(221,221,221,1);
    color: #2a2a2c;
    border: 1px solid #2a2a2c;
}

.btn-black:hover svg {
    stroke: #2a2a2c;
}

.btn-light:hover svg {
    stroke: rgba(221,221,221,1);
}

.btn-light:hover {
    background-color: #1e1e20;
    color: rgba(221,221,221,1);
    border: 1px solid rgba(221,221,221,1);
}

#home {
    display: flex;
    margin: 4rem 0;
    align-items: center;
    flex: 1;
}

#home div:nth-child(1), #home div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home div:nth-child(2) {
    justify-content: space-between;
}

#home div:nth-child(2) p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: rgb(60, 60, 60);
}

.f-row {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
}
.txt-very-fat {
    font-weight: 600;
    font-size: 9rem;
    letter-spacing: -0.5rem;
}

.icon {
    padding: 7px;
    margin-top: 2rem;
    background-color: black;
    border-radius: 100px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.icon svg, .icon img {
    cursor: pointer;
}

.counter {
    display: flex;
    color: #0170ba;
    font-weight: 700;
    font-size: 8rem;
}

.counter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.counter div span:nth-child(1) {
    font-size: 10rem;
    font-weight: 700;
    color: #dadada;
}

.counter div span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
    color: #6e6e6e;
}

.lang {
    margin: 4rem 0;
    flex-wrap: wrap;
}

.single-lang {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.single-lang h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #dadada;
}

.single-lang p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #dadada7a;
    text-align: center;
}

.flag-container {
    margin-bottom: 1rem;
    padding: 3rem;
    background: rgb(6,56,98);
    background: radial-gradient(circle, rgba(6,56,98,1) 34%, rgba(13,75,129,1) 78%);
    border-radius: 1000px;    
}

.lang div:nth-child(3) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.desc {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #969696;
}

.flag {    
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-position: center;
    border-radius: 1000px;
    transition: all 250ms ease-in-out;
}

.flag:hover {
    animation: float 1.5s ease-in-out infinite;
}

.section-title {
    font-size: 6rem;
    font-weight: 400;
    color: #dadada;    
    letter-spacing: -0.2rem;
    text-transform: uppercase;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    gap: 4rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.gallery img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
    transform: slideInFromTop;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

#preview-items {
    gap: 4rem;
    display: flex;
    margin: 4rem 0;
    flex-wrap: wrap;
}

.single-xp {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 2rem !important;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
}

.right {
    text-align: end;
}

#details {
    visibility: collapse;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

#edu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.edu-details {
    margin-top: 2rem;
}

.edu-details span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #969696;
    padding: 2px 1rem;
    border: 2px solid #969696;
    border-radius: 2rem;
    margin-right: 1rem;
}

.edu-details span:hover {
    background-color: #969696;
    color: #1e1e20;
}

.edu-title {
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    padding: 3rem;
    text-transform: uppercase;
    background: #373737;
    border-radius: 3rem;
}

.edu-subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #969696;
    margin-top: 1rem;
    text-transform: none;
}

.edu-subtitle li::before {
    content: url("./assets/img/right-arrow-svgrepo-com.svg");
    display: inline-block;
    width: 1em;
    margin-right: 1rem;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

#contact > div:nth-child(2) {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
}

.single-contact {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #555555;
}

.single-contact img {
    width: 2rem;
    height: 2rem;
}

.single-contact span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #969696;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.contact-form input {
    padding: 1rem;
    border: 2px solid #969696;
    border-radius: 17px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 1rem;
}

.contact-form textarea {
    padding: 1rem;
    border: 2px solid #969696;
    border-radius: 17px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #969696;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.contact-form span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 1rem;
}

#spam-shield {
    font-size: 1rem;
    font-weight: 400;
    color: #969696;
    margin-bottom: 1rem;
}

#spam-shield input {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    color: #969696;
    padding: 1rem;
    border: 1px solid #969696;
    border-radius: 17px;
}

.squeeze {
    animation: shake 400ms ease;
}

footer {
    gap: 2rem;
    padding: 0 4rem;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #969696;
}

footer > div:nth-child(1) {
    padding-top: 2rem;
    border-top: 1px solid rgb(193, 193, 193);
    justify-content: space-between;
    align-items: center;
}

footer > div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .popup.fade-in {
    animation: fadeIn 0.5s;
  }
  
  .popup.fade-out {
    animation: fadeOut 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

#about {
    margin-top: 3rem;
}

.preview-item-image {    
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.preview-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.preview-item {
    min-width: 25%;
}

.preview-item h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #969696;
    margin-top: 1rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.preview-item a {
    display: block;
    margin: 12px 0;
    width: fit-content;
}

.preview-item-author {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    color:rgb(193, 193, 193);
}

.skill-bar {
  min-width: 33%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
  flex: 1;
}
  
/* Skill name and level */
.skill-name, .skill-level {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

/* Skill progress bar */
.skill-progress {
  flex: 1;
  height: 20px;
  background-color: #707070;
  border-radius: 100px;
  width: 100%;
}
.skill-progress-bar {
  height: 100%;
  background-color: #dddddd;
  border-radius: 100px;
  max-width: 100%;
}